@*<link rel="stylesheet" href="~/css/index.css">*@
<link rel="stylesheet" href="~/css/userprofile.css">

<style>
    #hoso{
        border:none !important;
    }
    #hoso > a{
        color:black !important;
    }
    #tutruyen{
        border: 0.5px solid rgba(190, 186, 186, 0.7);
        border-radius: 5px;
    }
    #tutruyen > a{
            color:  #EE4259;
    }
    main{
        height: calc(75vh);
    }
</style>
<main>
    @await Component.InvokeAsync("UserNavbar")

    <div class="row-right">
        <div class="reading"><span>Đang đọc</span></div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-12 listitem--odd">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                 
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-12 listitem--odd">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                  
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
