<link rel="stylesheet"
      href="~/css/userprofile.css">

<main>
  <div class="row-left">
    <div>Cá nhân</div>
    <div>Viết thư mới</div>
    <div>Hộp thư đến</div>
    <div>Hộp thư đi</div>
    <div>Truyện của tôi</div>
    <div>Đăng truyện</div>
    <div>Đăng chương</div>
    <div>Tác giả</div>
    <div>Nạp vàng</div>
    <div>Lịch sử nạp</div>
    <div>Shop vật phẩm</div>
  </div>
  <div class="row-right">
    <div id="profile-upper">
      <div id="profile-banner-image">
        <!-- <img src="/image/test.jpg" alt="Banner image" /> -->

        <div id="profile-d">
          <div id="profile-pic">
            <img src="/NovelWebsite/NovelWebsite/wwwroot/image/test2.jpg" />
          </div>
          <div id="u-name">Username (ID)</div>
          <div class="tb" id="m-btns">
            <div class="td">
              <div class="m-btn"><i class="fa-regular fa-gear"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table>
      <tr>
        <th>Truyện theo dõi</th>
        <th>Truyện đề cử</th>
      </tr>
      <tr>
        <td>
          <p>7</p>
          <a href="">Xem tất cả</a>
        </td>
        <td>
          <p>0</p>
          <a href="">Xem tất cả</a>
        </td>
      </tr>
    </table>
  </div>
</main>
