@{
    int pageSize = (int)ViewBag.pageSize;
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
}

<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/userprofile.css">


<main>
    @await Component.InvokeAsync("UserNavbar")

    @*viết code tiếp vào đây*@
</main>
