<link rel="stylesheet"
      href="~/css/userprofile.css">

<main>
    <ul class="row-left">
        <li class="col-left active" id="hoso"><a href="/NovelWebsite/NovelWebsite/wwwroot/html/userprofile.html" style="color:#EE4259"><i class="fa fa-user"></i>Hồ sơ</a></li>

        <li class="col-left active">
            <a href="/NovelWebsite/NovelWebsite/wwwroot/html/userprofile1.html">
                <i class="fa fa-book"></i>Tủ truyện
            </a>
        </li>

        <li class="col-left active">
            <a href="/NovelWebsite/NovelWebsite/wwwroot/html/dangtruyen.html">
                <i class="fa fa-bell"></i>Đăng truyện
            </a>
        </li>

        <li class="col-left active">
            <a href="/NovelWebsite/NovelWebsite/wwwroot/html/chuongtruyen.html"><i class="fa-solid fa-message"></i>Quản lí chương</a>
        </li>
    </ul>
    <div class="row-right">
        <div id="profile-upper">
            <div id="profile-banner-image">
                <div id="profile-d">
                    <img class="rounded-circle"
                         src="/image/test.jpg" />

                    <div id="u-name">Username (ID)</div>
                    <div class="tb" id="m-btns">
                        <div class="td">
                            <div class="m-btn"><i class="fas fa-cog"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <form action="" method="get">
                <label for="name">Tên người dùng:</label>
                <input id="name" name="name" type="text" value="" /><br />

                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       placeholder="Nhập email" /><br />

                <label>Mật khẩu:</label>
                <input name="pass" type="password" value="" /><br />
            </form>
        </div>
    </div>
</main>