<link rel="stylesheet"
      href="~/css/userprofile.css">

<main>
    @await Component.InvokeAsync("UserNavbar")
    <div class="row-right">
        <div id="profile-upper">
            <div id="profile-banner-image">
                <div id="profile-d">
                    <img class="rounded-circle"
                         src="/image/test.jpg" />

                    <div id="u-name">Username (ID)</div>
                    <div class="tb" id="m-btns">
                        <div class="td">
                            <div class="m-btn"><i class="fas fa-cog"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <form action="" method="get">
                <label for="name">Tên người dùng:</label>
                <input id="name" name="name" type="text" value="" /><br />

                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       placeholder="Nhập email" /><br />

                <label>Mật khẩu:</label>
                <input name="pass" type="password" value="" /><br />
            </form>
        </div>
    </div>
</main>