@{
    int userId = @Model;
}

<ul class="row-left">
    <li class="col-left active"><a href="/ho-so/@userId"><i class="fa fa-user"></i>Hồ sơ</a></li>

    <li class="col-left active" id="tutruyen">
        <a href="/ho-so/@userId/tu-truyen"
           style="color:#EE4259">
            <i class="fa fa-book"></i>Tủ truyện
        </a>
    </li>

    <li class="col-left active"><a href="/ho-so/@userId/truyen-da-dang"><i class="fa fa-bell"></i>Truyện đã đăng</a></li>
@*    <li class="col-left active">
        <a href="/dang-chuong/@(chapterId == 0 ? "" : chapterId)"><i class="fa-solid fa-message"></i>Quản lí chương</a>
    </li>
*@</ul>