@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/admin/adminedit.css">
<script type="text/javascript" src="~/js/importdata.js"></script>

<div class="edit--main-body">
    <div class="row">
        <div class="col-md-12">
            <h3 class="editor--header">Giao diện chỉnh sửa truyện</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Tên truyện:</h4>
        </div>
        <div class="col-md-10">
            <div class="editor--content input-group">
                <input type="text" class="editbook--name form-control" value="Đây là tên truyện" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Tác giả:</h4>
        </div>
        <div class="col-md-10">
            <div class="editor--content input-group">
                <input type="text" class="editbook--name form-control" value="Đây là tên tác giả" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Thumbnail:</h4>
        </div>
        <div class="col-md-10">
            <div class="editor--img-wrap">
                <div class="editor--img-container">
                    <img src="/image/test.jpg">
                </div>
                <button class="btn btn-primary" onclick="importData()">Đổi ảnh</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Thể loại:</h4>
        </div>
        <div class="col-md-10">
            <div class="editor--content">
                <select class="form-select">
                    <option>Thể loại 1</option>
                    <option>Thể loại 2</option>
                    <option>Thể loại 3</option>
                    <option>Thể loại 4</option>
                    <option>Thể loại 5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Thể loại phụ:</h4>
        </div>
        <div class="col-md-10">
            <div class="editor--content sub-catagory">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Option 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Option 2</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Option 3</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Option 4</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Option 5</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4 class="editor--title">Nội dung truyện:</h4>
        </div>
        <div class="col-12">
            <div>
                <textarea id="tiny"></textarea>
            </div>
        </div>
    </div>

    <button class="btn btn-primary submit-btn" type="submit">Chỉnh sửa</button>
</div>
