<link rel="stylesheet" href="~/css/doctruyen.css">
<link rel="stylesheet" href="~/css/truyen.css">

<script type="text/javascript" src="~/js/changbtn.js"></script>
<script type="text/javascript" src="~/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="~/js/tinymcescript.js"></script>

<div class="container body-container">
    <div class="content">
        <h1 class="truyen-title">NGHI VẤN DUFENGYU ĐĂNG TRUYỆN CHUYỂN VER</h1>
        <p class="truyen-author">
            Người đăng:
            <a href="javascript:void(0)">Cáp Ngõa Thỏ</a>
        </p>
        <p class="truyen-time">Ngày đăng: 8 Tháng 2</p>
    </div>

    <div class="chapter">
        <div class="chapter-content">
            <div class="control-area-wrap">
            </div>

            <div class="box-chapters">
                <div class="box-chap">
                    Cái gì đó rất dài
                </div>

                <div class="box-ads">
                    <div class="box-icon-section">
                        <div class="box-icon-section-left">
                            <a href="javascript:void(0)">
                                <i class="fa-regular fa-thumbs-up"></i>
                                12
                            </a>
                            <a href="javascript:void(0)">
                                <i class="fa-regular fa-thumbs-down"></i>
                                402
                            </a>
                        </div>

                        <div class="box-icon-section-right">
                            <a href="javascript:void(0)">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                Báo lỗi
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quangcaotruyen">
                <a href="javascript:void(0)"><img src="~/image/test.jpg" class="banner-sm"></a>
            </div>

            <div class="control-box">
                <div class="control-box-content">
                    <a href="javascript:void(0)" type="button" class="btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        Chương trước
                    </a>
                    <i>|</i>
                    <a href="javascript:void(0)" type="button" class="btn">
                        Chương sau
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
