<link rel="stylesheet" href="~/css/wiki/rank-0.0.6.min.css">
<link href=~/css/utils/materialize-wiki.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/utils/animate.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/wiki/base-0.1.0.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/boloc.css type="text/css" rel="stylesheet" media="screen,projection" />
<script type="text/javascript" src="~/js/utils/materialize-wiki.min.js"></script>
<script type="text/javascript" src="~/js/utils/jquery-2.2.4.min.js"></script>


<div class="container">

    <div class="sort-box float-wrapper">


        <a class="dropdown-button" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddCommentFilter'
           style="font-size: 1.23rem; color: #666666; margin-left: 3rem;">Thể loại<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddCommentFilter' class='dropdown-content'>
            <li class="active"><a href="/review">Tất cả</a></li>

            <li class=""><a href=>Cate</a></li>

            <li class=""><a href=>Cate</a></li>

            <li class=""><a href=>Cate</a></li>

            <li class=""><a href=>Cate</a></li>

            <li class=""><a href=>Cate</a></li>

            <li class=""><a href=>Cate</a></li>

        </ul>
        <a class="dropdown-button" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddCommentFilter'
           style="font-size: 1.23rem; color: #666666;">Xếp theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddCommentFilter' class='dropdown-content'>
            <li class="active"><a href="/review">Lượt bình chọn</a></li>

            <li class=""><a href=>Lượt review</a></li>

            <li class=""><a href=>Lượt bình luận</a></li>

            <li class=""><a href=>Lượt đọc</a></li>

            <li class=""><a href=>Mới hoàn thành</a></li>

        </ul>
        <a class="dropdown-button right" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddCommentFilter'
           style="font-size: 1.23rem; color: #666666;margin-right:4rem;">Lọc theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddCommentFilter' class='dropdown-content'>
            <li class="active"><a href="/review">Từ trên xuống</a></li>

            <li class=""><a href=>Từ lên xuống</a></li>

        </ul>
    </div>

    <div class="book-list">

        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>


        <!--  -->

        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <div class="book-item">
            <div class="cover-col">
                <a class=" hoverable" href="/truyen.html">

                    <img class="cover-wrapper carousel-inner" src='~/image/test.jpg' />


                </a>
            </div>
            <div class="info-col">
                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Yêu lại từ đầu"
                   href="/truyen/phao-hoi-quan-thinh-thu-ha-luu-tinh-ZBCoWVS4CD%7EHCkUO">
                    <h5 class="book-title truncate">Yêu lại từ đầu</h5>
                </a>
                <p class="book-author"><a class="truncate" href="/tac-gia/%E5%93%88%E9%A5%BF%E5%85%94">Cáp Ngạ Thỏ</a></p>
                <p class="book-publisher"><a class="truncate" href="/useprofile/dufengyu">DuFengYu</a></p>
                <p class="book-publisher"><a class="truncate" href="/tim-kiem?status=5794f03dd7ced228f4419191">Hoàn thành</a></p>
                <p class="book-stats-box">
                    <span class="book-stats"><i class="material-icons">visibility</i><span data-ready="abbrNum">7</span></span>
                    <span class="book-stats"><i class="material-icons">star</i><span data-ready="abbrNum">0</span></span>
                    <span class="book-stats"><i class="fa fa-comment" aria-hidden="true"></i><span data-ready="abbrNum">0</span></span>
                </p>
            </div>
        </div>
        <!--  -->

    </div>

    <div class="rank-box-main-pagination">
        <ul class="pagination justify-content-end">
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
            <li class="page-item"><p class="etc">...</p></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">571</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">572</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">Trang cuối</a></li>
        </ul>
    </div>

</div>